#player-dj {
  position: relative;

  width: 56px;
  height: 56px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.avatar-container {
  width: 100%;
  height: 100%;

  border-radius: var(--bradius-small);
  background: var(--primaryDarker);
  box-shadow: var(--shadow-innerPrimary);
}

.avatar-img {
  position: absolute;
  bottom: 0;
  left: -4px;

  width: 64px;
  height: 90px;

  background-image: var(--avatar-url);
  /* background-size: cover; */
  /* background-position: center; */

  transition: var(--transition);
}

.avatar-img_loading {
  opacity: 0.5;
  pointer-events: none;
}
